.all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.ad-container {
display: flex;
justify-content: space-between;
flex-direction: row;
text-align: center;
background-color: lightblue;
padding: 20px;
border-radius: 10px;
height: 250px;
width: 45%;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
max-width: 800px;
max-height: 1000px;
margin-bottom: 20px;
}

  
h3 {
color: gray;
margin: 0;
font-size: 16px;
}
  
h1 {
color: black;
font-size: 30px;
margin: 10px 0;
}
  
.chair-image img {
width: 80%;
max-width: 250px;
border-radius: 50%;
}
  
.buy-now-btn {
margin-top: 15px;
padding: 10px 20px;
font-size: 20px;
font-weight: bold;
background-color: #a0774d;
color: white;
border: none;
cursor: pointer;
}
  
.buy-now-btn:hover {
background-color: #805d3b;
}

@media (max-width:700px) {
 .all {
  flex-direction: column;
 }

 .ad-container {
  width: 100%;
 }
}